*{
    padding: 0;
    margin: 0;
}
.row1{
    padding: 10px;
    display: flex;
    gap: 80%;
    font-size: 14px;
   font-family: sans-serif;
   font-weight: 650;
   position: relative;
   top: 100px;

}
#sign{
    width:70px;
    height: 35px;
    background-color: rgb(97, 97, 255);
    color: antiquewhite;
    float: right;
    position: relative;
    top: 5px;
    right: 50px;
    border-radius: 5px;
    border-style: none;
    
   top: 100px;
    
}

.fst{
    display: flex;
    gap: 15%;

}
.second{
    display: flex;
    gap: 15%;
   
}

.logo{
    width: 320px;
    position: relative;
    left: 35vw;
    top: 20vh;
}
.logod{
    width: 100vw;
    position: relative;
   
}


.searBox{
    width: 620px;
    height: 50px;
    border: 2px solid rgb(182, 182, 182);
    border-radius: 30px;
    position: relative;
    top: 300px;
    left:25vw;
    z-index: 1;
}
.ser{
    position: relative;
    z-index: 2;
    width: 20px;
    top: 10px;
    left: 15px;
    opacity: 0.3;
}
.mic{
    position: relative;
    z-index: 2;
    width: 20px;
    top: 14px;
    left: 330px;
}

#search{
    width: 200px;
    height: 30px;
    position: relative;
    left: 20px;
    background: transparent;
    border: 0;
    border-style: none;
    border-color: transparent;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
    font-size: large;
}
.feel{
    display: flex;
    gap: 20px;
    position: relative;
    top: 330px;
    left: 38vw;
}
.one{
    width: 100px;
    height: 20px;
    padding: 10px;
    background-color: rgb(170, 170, 170);
    color: white;
    border-radius: 5px;
    font-family: serif;
}
.two{
    width: 130px;
    height: 20px;
    padding: 10px;
    background-color: rgb(170, 170, 170);
    color: white;
    border-radius: 5px;
}